@page "/"
@using Mgmo.Main.Blog.Core.Contracts
@using Mgmo.Main.Blog.Core.Dto
@inject IBlogPostsStorageHandler BlogPostsStorageHandler
@rendermode InteractiveServer

<PageTitle>Mgmo Main</PageTitle>

<h1>Hello welcome to may page</h1>

@if (BlogPosts != null)
{
    <ul>
        @foreach (var blogPost in BlogPosts)
        {
            <li>@blogPost.Title</li>
        }
    </ul>
}

<button class="btn btn-primary" @onclick="GetBlogPosts">Click me</button>


@code {
    
    IEnumerable<BlogPostDto>? BlogPosts { get; set;} 

    private async Task GetBlogPosts()
    {
        // Task.Run(() => BlogPostsStorageHandler.GetAllBlogPostasAsync())
        // .ContinueWith((b) => BlogPosts);
        var blogPosts = await BlogPostsStorageHandler.GetAllBlogPostasAsync();
        BlogPosts = blogPosts;
   
    }
}
