<p>Table comes here</p>


<div class="table">
  <div class="table-row header">
    <div class="table-cell header">Name</div>
    <div class="table-cell header">Position</div>
    <div class="table-cell header">Office</div>
    <div class="table-cell header">Age</div>
    <div class="table-cell header">Start date</div>
    <div class="table-cell header">Salary</div>
    <div class="table-cell header">Email</div>
    <div class="table-cell header">Phone</div>
    <div class="table-cell header">Deparment</div>
    <div class="table-cell header">Status</div>
  </div>
  <div class="table-row content">
    @for(customer of customers; track customer.name) {
      <div class="table-cell content">{{customer.name}}</div>
      <div class="table-cell content">{{customer.position}}</div>
      <div class="table-cell content">{{customer.office}}</div>
      <div class="table-cell content">{{customer.age}}</div>
      <div class="table-cell content">{{customer.startDate}}</div>
      <div class="table-cell content">{{customer.salary}}</div>
      <div class="table-cell content">{{customer.email}}</div>
      <div class="table-cell content">{{customer.phone}}</div>
      <div class="table-cell content">{{customer.department}}</div>
      <div class="table-cell content">{{customer.status}}</div>
    }
  </div>
</div>
