@mixin black-white-theme {
  body {
    background-color: black;
    height: 100%;
    // color: whitesmoke;
    font: 1em sans-serif;
    line-height: 18px;
  }

  .main {
    //border-radius: 5px;
    width: 85%;
    min-width: 300px;
    max-width: 1300px;
    height: 100vh;
    background-color: white;
    // color: #282624;
    margin-left: auto;
    margin-right: auto;
    margin-top: -280px;
  }

  ul {
    list-style-type: none;
    padding: 5px;


  }
}
